body {
  background-color: #0c1616;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-content: center;
}

.btn-start {
  background-color: #0c1616;
  color: aliceblue;
  height: 4rem;
  width: 11rem;
  outline: 4px solid;
  font-family: monospace;
  font-size: xx-large;
}

.btn-start:hover {
  background-color: aliceblue;
  color: #0c1616;
}

.hidden {
  visibility: hidden;
}

form > button {
  height: 2rem;
  background-color: aliceblue;
  font-size: medium;
  font-weight: 500;
  border-radius: 5px;
  border: none;
}

textarea {
  background-color: aliceblue;
  border-radius: 5px;
  font-size: large;
}

h1 {
  font-family: monospace;
  color: aliceblue;
  font-size: 56px;
}

/* h2 {
  text-align: center;
} */

.line {
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(70, 1fr);
}
.feedback {
  color: aliceblue;
}

.letters-container {
  width: 87vw;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.75rem;
}

.letter {
  /* border-top: 1px solid blue; */
  color: #3a575f;
  text-align: center;
  font-family: monospace;
  font-size: 2.1rem;
  /* width: 0rem; */
}

.active {
  border-bottom: 2px solid aliceblue;
  background-color: rgb(184, 186, 186, 0.15);
  /* transform-: translateY(-2%) scale(0.95); */
}

.line > div:nth-of-type(2) {
  color: aliceblue;
  border-right: 0.5px solid rgb(184, 186, 186, 0.15);
  padding-right: 1.5rem;
  padding-left: 0.3rem;
}

.first-of-row {
  color: aliceblue;

  padding-left: 2rem;
}

.incorrect {
  color: #f26e6e;
}

.correct {
  color: rgb(153, 233, 160);
}

/* .letters-container {
  border: 1px solid red;
  width: 87vw;
  display: grid;
  grid-template-columns: repeat(70, 1fr);
  row-gap: 0.75rem;
} */
