body {
  background-color: #0c1616;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  align-self: center;
  color: aliceblue;
  font-size: 56px;
}

h2 {
  text-align: center;
}

.line {
  display: grid;
  grid-template-columns: repeat(70, 1fr);
}
.feedback {
  align-self: center;

  color: aliceblue;
}

.letters-container {
  width: 87vw;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.75rem;
}

.letter {
  /* border-top: 1px solid blue; */
  color: #3a575f;
  text-align: center;
  font-family: monospace;
  font-size: 2.1rem;
  /* width: 0rem; */
}

.active {
  border-bottom: 2px solid aliceblue;
  background-color: rgb(184, 186, 186, 0.15);
  /* transform-: translateY(-2%) scale(0.95); */
}

.line > div:nth-of-type(2) {
  color: aliceblue;
  border-right: 0.5px solid rgb(184, 186, 186, 0.15);
  padding-right: 1.5rem;
  padding-left: 0.3rem;
}

.first-of-row {
  color: aliceblue;

  padding-left: 2rem;
}

.incorrect {
  color: #f26e6e;
}

.correct {
  color: rgb(153, 233, 160);
}

/* .letters-container {
  border: 1px solid red;
  width: 87vw;
  display: grid;
  grid-template-columns: repeat(70, 1fr);
  row-gap: 0.75rem;
} */
